{% extends "registro/menu.html" %}

{% block titulo %}
<h1 class="mb-5" style="font-size: 3.8rem; color: white;">Acerca de mi ...</h1>
{% endblock titulo %}

{% block contenido %}
<h2 style="color: white;">Esta página cuenta Acerca de ...</h2>
<br>
<h3 style="color: white;">Mi nombre es Sonny Del Valle, soy de Lima - Peru tengo 43 años y 
  siempre me gusto la programacion y desarrollo, 
  mi proyecto trata de un registro de clientes de una agencia de viajes </h3>
<br>
<h3 style="color: white;">La pagina esta basicamente estructurada para la toma de datos y 
  la creacion de un usuario y contraseña,tiene como objetivo registrar 
  al cliente generar su ingreso y salida del hotel y el pais de destino</h3>
<h4 style="color: white;">Me gusta programar porque siempre me llamo la atencion, 
  pero nunca me atrevi, por lo que ahora quisiera recuperar el tiempo perdido y dedicarme mas tiempo</h4>
{% endblock contenido %}